/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body{
        background: linear-gradient(135deg, #fbc2eb, #a6c1ee);

    min-height:100vh;
    padding:40px;
    padding:40px;
}

/* Container */
.container{
    width:80%;
    margin:auto;    
   background: linear-gradient(135deg, #ff6a88, #ff99ac, #c471f5);
    min-height:100vh;
    padding:40px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* Headings */
h2{
    margin-bottom:15px;
    color:#333;
}

/* Form */
form{
    margin-bottom:25px;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    width:250px;
    padding:10px;
    margin-right:10px;
    border:1px solid #ccc;
    border-radius:5px;
    outline:none;
    transition:0.3s;
}

input:focus{
    border-color:#007bff;
}

/* Buttons */
button{
    padding:10px 18px;
    border:none;
    border-radius:5px;
    background:#e100ff;
    color:rgb(255, 255, 255);
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#e100ff;
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

table th{
    background:#e100ff;
    color:white;
    padding:12px;
}

table td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

table tr:hover{
    background:#f2f2f2;
}

/* Action links */
a{
    text-decoration:none;
    padding:6px 12px;
    border-radius:4px;
    margin:2px;
    display:inline-block;
}

a[href*="update"]{
    background:#28a745;
    color:white;
}

a[href*="delete"]{
    background:#dc3545;
    color:white;
}

a:hover{
    opacity:0.8;
}
